.modal-form-container {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    top: 0;
    left: 0;
}

.modal-form {
    color: $text-color;
    padding: 0 35px 10px 35px;
    background-color:#ffffff; 
    position: absolute;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    max-width: 370px;
    border-radius: 3px;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 767px) {
        top: 10%;
    }


    .modal-form__close-btn {
        position: relative;
        width: 14px;
        height: 14px;
        float: right;
        right: -20px;
        top: 10px;
       // background: red;

        &::before,
        &::after {
            position: absolute;
            content: '';
            display: block;
            left: -2px;
            height: 3px;
            width: 18px;
            top: 6px;
            background-color: #bebebf;
            
        }

        &::before {
            transform: rotate(45deg);
        }

        &::after {
            transform: rotate(-45deg);
        }

    }

    h2 {
        @include fontSizeREM(24);
        font-weight: bold;
        text-align: center;
        padding: 15px 0;
    }

   label {
    @include fontSizeREM(14);
       color: $text-color;
       span {
        color: #0d3e7e;
       }
        font-weight: bold;
       display: block;

       margin-bottom: 6px;

   }

   .input-text {
       width: 100%;
       margin-bottom: 18px;
   }

   .captcha-cont {
       width: 100%;
       display: flex;
       flex-wrap: nowrap;
       justify-content: space-between;


   }

   .captcha-block {
       width: 105px;
      // height: 45px;
      flex-shrink: 0;
       margin-right: 10px;
       img {
        width: 105px;
           display: block;
       }
   }

   .captcha_update {
       width: 100%;
       color: #969696;
       @include fontSizeREM(12);
       text-decoration: underline;
       text-align: center;



       span {
        background-image: url('../img/captcha-update.png');
        padding-left: 15px;
        background-repeat: no-repeat;
        background-position: left center;

       }
   }

   .input-text--captcha {
        width: 10%;
        flex-grow: 1;
   }

   .btn-blue {
       display: block;
       margin: 30px auto;

   }
    
}